.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
